<section class="container mx-auto px-6 -mt-12">
    <div class="grid md:grid-cols-3 gap-8">
        @for (item of features; track $index) {
        <div
            class="bg-white p-8 rounded-xl shadow-xl border-t-4 border-accent transition-transform hover:-translate-y-2">
            <div class="text-accent text-3xl mb-4">
                <i class="fas fa-briefcase"></i>
            </div>
            <h3 class="text-xl font-bold text-primary mb-2">{{item.title}}</h3>
            <p class="text-gray-600 leading-relaxed">{{item.desc}}</p>
        </div>
        }
    </div>
</section>